body {
	margin: 0 8px 20px;
	background: #1b2838;
	overflow-y: scroll;
}
body, td {
	font-family: system-ui;
	font-size: 14px;
	color: #eee;
}
h1 { margin: 4px; }
h5 { font-weight: normal; margin: 4px; }
table {
	width: 720px;
	table-layout: fixed;
	border-collapse: collapse;
}
td {
	vertical-align: top;
	border: 1px solid #777;
	padding: 2px 4px;
}
td.ancillary-icon { border-right: 0; text-align: right; }
img.ancillary-icon { width: 32px; height: 32px; }
td.ancillary-name { border-left: 0; }
td.trigger-condition-list { padding: 0; }
td.trigger-condition-list > div { padding: 2px 4px; }
td.trigger-condition-list > div:nth-child(n + 2) { border-top: 2px dashed #777; margin-top: 2px; }
td.effect-list img { width: 16px; height: 16px; }

#root { display: flex; }
#content { flex: 0 0 720px; }
#subculture-list {
	margin: 10px 4px 0;
	/* flex: 0 0 240px; */
	white-space: nowrap;
}
#subculture-list a { display: block; padding: 2px 10px; color: #aaa; text-decoration: none; }
#subculture-list a:hover { color: #fff; background: rgba(255, 255, 255, .1); }
#subculture-list a.active { color: red; }
#subculture-list a.not-playable { opacity: .75; }